#az-tc-task-copy--chrome-extension--buttons-panel {
    display: inline-block;
    position: absolute;
    background: white;
    width: 22px;
    top: 0;
    right: -22px;
}

#az-tc-task-copy--chrome-extension--copy-button {
    background: rgb(170, 200, 245);
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-bottom: 1px;
}

#az-tc-task-copy--chrome-extension--copy-task-button {
    background: rgb(199, 243, 199);
    width: 22px;
    height: 22px;
    cursor: pointer;
}